@media screen and (min-width: 750px) {
    .title_text {
        font-size: 3.35rem;
    }

    .title__subtext {
        font-size: 1.2rem;
        letter-spacing: 0.3em;
    }
}

@media screen and (min-width: 830px) {
    .main {

        display: grid;
        /* имитация ограничивающего контейнера */
        grid-template-columns: 1fr minmax(auto, 400px) minmax(auto, 1200px) 1fr;
        grid-template-rows: 85px 1fr;

        grid-template-areas:
            "title title"
            "side content"
        ;
    }

    .title {
        grid-area: title;
        grid-column: 2/4;
    }

    .sidebar {
        grid-area: side;
        grid-column: 2/3;
    }

    .content {
        grid-area: content;
        grid-column: 3/4;
    }

    .content__items {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(2, minmax(200px, 1fr));
        gap: 15px;
    }
    .content__item {
        margin: 0px;
    }
}

@media screen and (min-width: 1400px) {

    .title_text {
        font-size: 4rem;
    }

    .title__subtext {
        font-size: 1.5rem;
        letter-spacing: 0.3em;
    }

    .content__items {
        grid-template-columns: repeat(3, minmax(200px, 1fr));
    }

}