@media screen and (min-width: 750px) {
    .title_text {
        font-size: 3.75rem;
    }

    .title__subtext {
        font-size: 1.125rem;
        letter-spacing: 0.5em;
    }


}


@media screen and (min-width: 830px) {
    .header {
        /* имитация ограничивающего контейнера */
        grid-template: 1fr / 1fr minmax(auto, 200px) minmax(auto, 1200px) 1fr;
        /* выравнивание по У */
    }


    .header__logo {
        grid-column: 2/3;
    }

    .header__list {
        text-align: end;
    }



    .header__menu {
        grid-column: 3/4;
    }


    .header__list {
        display: grid;
        /* grid-auto-flow: column; */
        grid-template: 1fr/ repeat(4, minmax(10px, 1fr));

        justify-items: end;
    }



    .main {

        display: grid;
        /* имитация ограничивающего контейнера */
        grid-template-columns: 1fr minmax(auto, 400px) minmax(auto, 1200px) 1fr;
        grid-template-rows: 200px 1fr;

        grid-template-areas:
            "title title"
            "side content"
        ;
    }

    .title {
        grid-area: title;
        grid-column: 2/4;
    }

    .sidebar {
        grid-area: side;
        grid-column: 2/3;
    }

    .content {
        grid-area: content;
        grid-column: 3/4;
    }

    .content__items {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(2, minmax(200px, 1fr));
        gap: 15px;
    }




.content__item{
    margin:  0px;
}

}



@media screen and (min-width: 1400px) {

    .title_text {
        font-size: 6rem;
    }

    .title__subtext {
        font-size: 1.5rem;
        letter-spacing: 0.3em;
    }

    .content__items {
        grid-template-columns: repeat(3, minmax(200px, 1fr));
    }

}