
.wrapper {
    min-height: 100vh;
    overflow: hidden;
    display: grid;


    grid-template: minmax(80px, auto) 1fr minmax(50px, auto) / 1fr;

    grid-template-areas:
        "header"
        "main"
        "footer";
}

.header {
    grid-area: header;
    display: grid;
    justify-content: center;
    grid-template: 1fr 1fr/ 1fr;
}

.header__logo{
    text-align: center;
}

.header__list {
    text-align: center;
}


/* main */

.main {
    grid-area: main;
}

.title {
    align-items: center;
    text-align: center;
}
.content__items {
    justify-content: center;
}

.content__item{
    margin: 15px 0px;
}




.footer {
    grid-area: footer;
    display: grid;
    grid-template: 1fr / 1fr minmax(auto, 200px) minmax(auto, 800px) 1fr;
    align-items: center;
}

.footer__copy {
    grid-column: 2/3;
}

.footer__text {
    grid-column: 3/4;
    text-align: right;
}